.product-modal {
  max-width: 1000px;
  height: 500px;
}

.product-modal-img {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-modal-price {
   width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-modal-price > h6 {
  font-weight: bold;
  font-size: 26px;
  color: #1fa198;
}

.product-modal-img img {
  width: 400px;
  height: 400px;
}

.product-modal-detail {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
}

.product-modal-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.product-modal-detail .title {
  width: 30%;
}

.product-modal-option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantity-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.quantity-control .quantity-num {
  margin: 0 10px;
  size: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-control button {
  cursor: pointer;
  border: #1fa198 solid 1px;
  border-radius: 2px;
  size: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-control button:hover {
  background-color: #1fa198;
  color: white;
}

.quantity-control .quantity-num {
  margin: 0 10px;
  width: 40px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  text-align: center;
}

.product-modal-size {
  display: flex;
  flex-direction: row;
}

.product-modal-size .size-radio {
  width: 30px;
  height: 30px;
  border: #1fa198 1px solid;
  color: #1fa198;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.product-modal-size .size-radio:hover,
.product-modal-size .size-radio.active {
  color: #ffffff;
  background-color: #1fa198;
}

.product-modal-topping {
  width: 60%;
}

.product-modal-topping .topping-detail {
  height: 30px;
  border: #1fa198 1px solid;
  color: #1fa198;
  padding: 0 5px;
  margin-right: 10px;
  cursor: pointer;
  line-height: 30px;
  float: left;
}

.product-modal-topping .topping-detail:hover,
.product-modal-topping .topping-detail.active {
  color: #ffffff;
  background-color: #1fa198;
}

.modal-btn {
  margin-left: 30%;
  margin-top: 10px;
  width: 200px;
  height: 50px;
  color: #1fa198;
  border: #1fa198 1px solid;
  cursor: pointer;
}

.modal-btn:hover {
  color: #ffffff;
  background-color: #1fa198;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  color: #ffffff;
  background-color: #1fa198;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+label {
  color: #ffffff;
  background-color: #1fa198;
}
.modal-open {
  padding-right: 0 !important;
}

.product-modal-id {
  display: none;
}

input:disabled {
  background:#dddddd;
}

input:disabled+label{color:#ccc;}